.plans-section {
  display: flex;
  text-align: center;
  margin-bottom: 4rem;
  align-items: center;

  .plan {
    border: 1px solid $color-grayish-blue-vl;
    padding: 2rem;
    width: 30rem;
    border-radius: 0.8rem;
    box-shadow: 0 0.6rem 1.6rem $color-grayish-blue-l;
    color: $color-grayish-blue-dark;
    font-weight: 600;
    background-color: $color-grayish-blue-vl;

    .plan-price {
      padding: 1.5rem 4rem;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 3rem;
        padding-right: 1rem;
      }
      h1 {
        display: flex;
        align-items: center;
        font-size: 5rem;
        font-weight: 800;
      }
    }

    .plan-features {
      list-style: none;
      padding-bottom: 2rem;

      &__item {
        font-size: 1.6rem;
        padding: 1.5rem;
        &:nth-child(1) {
          border-top: 1px solid $color-grayish-blue-l2;
        }
        border-bottom: 1px solid $color-grayish-blue-l2;
      }
    }

    .btn {
      padding: 1rem 2rem;
      width: 100%;
      border: 1px solid $color-gradient-2;
      border-radius: 0.5rem;
      cursor: pointer;
      color: #fff;
      font-weight: 700;
      background-color: $color-gradient-2;
      &:hover {
        color: $color-gradient-2;
        background-color: transparent;
      }
    }
    @include respond(tab-port) {
      width: 26rem;
      padding: 4rem 2rem;
      .plan-price {
        h1 {
          font-size: 4rem;
        }
        span {
          font-size: 2rem;
        }
      }
    }
  }

  .basic {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .pro {
    padding: 4rem 2rem;
    z-index: 10;
    color: #fff;
    background-color: $color-gradient-2;
    border: 1px solid $color-gradient-2;
    .btn {
      border: 0.1rem solid $color-grayish-blue-vl;
      color: $color-gradient-2;
      background-color: #fff;
      &:hover {
        color: #fff;
        background-color: transparent;
      }
    }
  }

  .master {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @include respond(phone) {
    flex-direction: column;

    .plan {
      width: 33rem;
      margin-top: 3rem;
      border-radius: 0.8rem;
      .plan-price {
        h1 {
          font-size: 5rem;
        }
      }
    }
  }

  @include respond(phone-small) {
    .plan {
      width: 30rem;
    }
  }
}
