#top-section {
  padding-top: 6rem;
  text-align: center;
  align-items: center;
  color: $color-grayish-blue;
  background: url(../images/bg-top.svg);
  background-position-x: 1000%;

  .sub-header {
    display: flex;
    padding: 2rem 0;
    align-items: center;
    color: $color-grayish-blue-l;

    .plan-type {
      padding: 2rem;
    }

    .toggle-container {
      padding: 0 2rem;
    }
  }
}
