.heading-primary {
  font-family: $font-stack;
  font-size: 6rem;
}

.heading-secondary {
  font-family: $font-stack;
  font-size: 4rem;
}

.features-text {
  font-family: $font-stack;
  font-size: 1.6rem;
}
