.heading-primary {
  font-family: $font-stack;
  font-size: 3.5rem;
}

.heading-secondary {
  font-family: $font-stack;
  font-size: 2rem;
}

.features-text {
  font-family: $font-stack;
  font-size: 1.6rem;
}
