//Color Variables

$color-grayish-blue-vl: hsl(240, 78%, 98%);
$color-grayish-blue-l: hsl(234, 14%, 74%);
$color-grayish-blue-l2: hsl(0, 0%, 89%);
$color-grayish-blue: hsl(233, 13%, 49%);
$color-grayish-blue-dark: hsl(232, 13%, 33%);

//Linear Gradient
$color-gradient-1: hsl(236, 72%, 79%);
$color-gradient-2: hsl(237, 63%, 64%);
$color-toggle-switch: hsl(237, 67%, 53%);

//font
$font-stack: 'Montserrat', sans-serif;
