*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

@import 'variables';
@import 'media-manager';
@import 'typography';
@import 'top-section';
@import 'toggle-btn';
@import 'pricing';

body {
  font-family: $font-stack;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-grayish-blue-vl;
  position: relative;
}

.attribution {
  font-size: 1.6rem;
  text-align: center;
  font-family: $font-stack;

  a:link,
  a:visited {
    color: hsl(228, 45%, 44%);
    font-weight: 600;
  }

  @include respond(phone-small) {
    padding: 2rem;
    line-height: 1.8;
  }
}

.bg-top {
  height: 80vh;
  position: absolute;
  top: 0;
  right: 0;

  @include respond(phone-small) {
    right: -17.5rem;
  }
}

.bg-bottom {
  position: absolute;
  bottom: -3rem;
  left: 0;

  @include respond(phone-small) {
    display: none;
  }
}

.background {
  z-index: -1;
}
