*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

@import 'variables';
@import 'typography';
@import 'media-manager';
@import 'top-section';
@import 'toggle-btn';
@import 'pricing';

body {
  font-family: $font-stack;
  box-sizing: inherit;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-grayish-blue-vl;
}

.attribution {
  padding-top: 2rem;
  font-size: 1.6rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
